<!--                including header            -->

<%- include("include/_header") %>

<!--  ----------------------------------------- -->
        <main id="main-site2">
            <div class="nav-btn">
                <a href="/"><i class="fa fa-angle-double-left"></i> All users</a>
            </div>
            <div class="content">
                <div class="info">
                    <h2>New user</h2>
                    <p class="light">Use the below form to create a new account</p>
                </div>
                <form method="POST" action="/api/users">
                    <div class="form-group">
                        <label for="name" class="light">Name : </label><br>
                        <input type="text" id="name" value="" name="name" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="email" class="light">Email : </label><br>
                        <input type="email" id="email" value="" name="email" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="gender" class="light">Gender : </label> 
                        <div class="choose">
                            <input type="radio" id="male" value="Male" name="gender">
                            <label for="male">Male</label>
                        </div>
                        <div class="choose">
                            <input type="radio" id="female" value="Female" name="gender">
                            <label for="female">Female</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="light">Status : </label>
                        <div class="choose">
                            <input type="radio" id="active" value="Active" name="status">
                            <label for="active">Active</label>
                        </div>
                        <div class="choose">
                            <input type="radio" id="inactive" value="Inactive" name="status">
                            <label for="inactive">Inactive</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit">Add user</button>
                    </div>
                </form>
            </div>
        </main>
<!--                including footer            -->

<%- include("include/_footer") %>

<!--  ----------------------------------------- -->